.box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .title{
        text-align: center;
        font-size: 26px;
        font-weight: 600;
    }
    .media{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 20px 0px;
        .icons{
            display: flex;
        }
    }
    .copy{
        text-align: center;
        margin: 10px;
    }
}